<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles-main">
        <app-big-card Id=1
            photoCover="../../assets/Angular.png"
            cardTitle="Angular" cardDescription="Uma caixa de ferramentas poderosa...">
        </app-big-card>
    </div>

    <div class="articles-others">
        <app-small-card Id=2 cardTitle="APIs .NET"
            photoCover="../../assets/APIdotnet.jpg">
        </app-small-card>

        <app-small-card Id=3 cardTitle="Recursos Azure"
            photoCover="../../assets/Azure.png">
        </app-small-card>
        
        <app-small-card Id=4 cardTitle="Novo game"
            photoCover="../../assets/newgame.jpg">
        </app-small-card>

        <app-small-card Id="5" cardTitle="Faustera game"
            photoCover="../../assets/fausteragame.jpg">
        </app-small-card>
    </div>

</div>